*{
  margin:0;
  padding:0;
}
.container{
  background: linear-gradient(45deg,#823ba3,#d88a40,#6e115f,#3e32a7,#0f7e1e);
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper{
  background-color: #fff;
  width: 550px;
  min-height:700px;
  padding:30px;
  box-sizing: border-box;
  border-radius: 5px;
}
.title-all{
  color:#6e115f;
  text-align: center;
}
.title{
  margin:80px 0px 40px 0px;
}
.title-design{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title2{
  margin-right: 380px;
  margin-left:720px;
}
.titleClass{
  margin-right: 600px;
  margin-left:720px;
}
.titleTest{
  margin-right: 620px;
  margin-left:760px;
}
.titleTopResults{
  margin-right: 500px;
  margin-left:720px;
}
.name,.email,.password{
  margin: 20px;
  color: #969292;
  font-size: 16px;
}
.password{
  margin-bottom: 40px;
}
.class-password{
  min-width: 200px;
  min-height:50px;
  box-sizing: border-box;
  margin-bottom:10px; 
}
.home-wrapper{
  background-color: #fff;
  width: 550px;
  min-height:700px;
  padding:30px;
  box-sizing: border-box;
  border-radius: 5px;
}
.label{
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  text-align: left;
  margin-right:135px;
}

.input{
  height:32px;
  font-size: 20px;
  outline: none;
  width:100%;
  border-style: none none 2px solid black none;
  margin-bottom: 10px;
  text-transform:capitalize;
}
.passwordinput{
  height:32px;
  font-size: 20px;
  outline: none;
  width:100%;
  border-style: none none 2px solid black none;
  margin-bottom: 10px;
}
.register-text{
  text-align: center;
  color:#6e115f;
  font-size: 15px;
  margin-top: 80px;
  margin-bottom:40px;
  font-weight: bold;
}
.error{
  color: red;
  font-weight: bold;
  font-size:11px;
}
.submit,.register{
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 60px;
  background: #6e115f;
  margin:auto;
  outline:none;
  border:none;
  cursor:pointer;
  transition:all 0.1s
}
button:active{
  transform:translateY(2px);
}
.form-success{
  display:flex;
  justify-content: center;
  margin-top: 250px;
  min-width:370px;
  color: #2f614a;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(107, 189, 114);;
  padding:15px;
  gap:10px;
  border-bottom:1px solid rgba(70, 67, 67, 0.856);
  
}
.link{
  color:#823ba3;
  padding:5px;
  width:130px;
  height:37px;
  border-radius: 5px;
  font-weight: bold;
  outline:none;
  border:none;
  cursor:pointer;
}
.btn{
  background-color: #6e115f;
  color:white;
  min-width:120px;
  border-radius: 15px;
  color: white;
  /* padding: 10px 60px; */
  background: #6e115f;
  margin:auto;
  outline:none;
  border:none;
  cursor:pointer;
}
.btn2{
  background-color: #6e115f;
  color:white;
  min-width:100px;
  border-radius: 15px;
  color: white;
  background: #6e115f;
  margin:auto;
  outline:none;
  border:none;
  cursor:pointer;
}
.input-student{
  outline: none;
  width:70%;
  margin-right:10px;

}
.flex{
  margin-top:100px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}
.classContainer{
  display: flex;
  flex-direction: row; 
  justify-content: center;
  gap:30%;
}
.studentContainer{
  display: flex;
  flex-direction: row; 
  justify-content: center;
}

.input2{
  width:450px;
  height:32px;
  font-size: 20px;
  outline: none;
  border-style: none none 2px solid black none;
  margin-bottom: 10px;
}
.flex-row{
  display: flex;
  flex-direction: row; 
  
}
.text{
  font-size: 20px;
  font-weight: bold;
  color: #6e115f;
  margin-right:20px;
}
.image-container{
  width:400px;
  margin-left:50px; 
}
.list-container{
  min-width:350px;
  height:40px;
  font-size: 25px;
}
.button-container{
  display: flex;
  flex-direction: column; 
  gap:50px;
  margin-top:200px;
}
.margin-top{
  margin-top:20px;
}
.emoji{
  font-size: 50px;
  cursor:pointer;
}
.container-list{
  font-size: 20px;
  display:grid;
  grid-template-rows: auto;
  text-align: center;
  padding:8px;
  font-weight: bold;
}
.topResult-container{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.top10{
  padding:19.3px;
}
.test-list{
  grid-template-columns: repeat(5, minmax(0, 1fr));
  color:#6e115f;
}
.result-list{
  grid-template-columns: repeat(3, minmax(0, 1fr));
  color:#6e115f;
}
.hover-text{
  color:green ;
  font-size: 15px;
  font-weight: normal;
}

.cursor{
  cursor:url(../src/components/images/cursor-invaders.png),auto;
}
.pointer{
  cursor:pointer;
}
.border{
  border:1px solid black;
}
.color1{
  background-color: #8DB6C7;
}
.color2{
  background-color: #e4b699;
}
.color3{
  background-color: #f9cd97;
}
.color4{
  background-color:  #648666;
}
.color5{
  background-color: #7baabd;
}
.color6{
  background-color: #b2e289;
}
.color7{
  background-color: #51c0bf;
}
.color8{
  background-color: #59c0bf;
}
.color9{
  background-color: #50add0;
}
.color10{
  background-color: #7095e1;
}
.color11{
  background-color: #9fa3e3;
}
.color12{
  background-color: #c99dd4;
}
.color13{
  background-color: #db8db2;
}
.color14{
  background-color: #f1c3d0;
}
.color15{
  background-color: #74c29e;
}
.color16{
  background-color: #a7beae;
}
.color17{
  background-color: #1fbfb8,;
}
.color18{
  background-color: #05716c;
}
.color19{
  background-color: #1978a5;
}
.color20{
  background-color: #966b96;
}
.color21{
  background-color: #f57e7e;
}

